* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$hs-bg-color: radial-gradient(circle at 50% 800px, hsla(158, 100%, 54%, 0.11), transparent 50vw), hsla(158, 6%, 9%, 1);

#root {
  min-height: 100vh;
  background: $hs-bg-color;
}

.body-container {
  margin: 100px 0;
}

.coin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .name {
    font-weight: bolder;
  }
  .symbol {
    font-size: 13px;
  }
}

#CoinTable {
  .coin-row {
    .progress {
      height: 6px;
      width: 90%;
      background-color: hsla(0, 0%, 100%, 0.15);
      .progress-bar {
        background-color: #93979e;
      }
    }
  }
}
